body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Introdutction {
	-epub-hyphens:none;
	color:#000000;
	font-family:Raleway, sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	-epub-hyphens:none;
	color:#000000;
	font-family:Raleway, sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tips {
	-epub-hyphens:none;
	color:#ff0000;
	font-family:Raleway, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:200;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.body {
	-epub-hyphens:none;
	color:#000000;
	font-family:Raleway, sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.piefoto {
	-epub-hyphens:none;
	color:#ff0000;
	font-family:Raleway, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:200;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
#_idContainer000 {
	display:inline-block;
	width:100.00%;
}
#_idContainer001, #_idContainer010 {
	height:41.80%;
	left:0%;
	position:absolute;
	top:58.20%;
	width:100.00%;
	z-index:0;
}
#_idContainer002, #_idContainer011 {
	height:36.22%;
	left:6.44%;
	position:absolute;
	top:0%;
	width:87.11%;
	z-index:1;
}
#_idContainer003 {
	display:inline-block;
	padding:11.74% 0% 0% 0%;
	position:relative;
	width:3.71%;
}
#_idContainer004 {
	display:inline-block;
	padding:65.83% 0% 0% 0%;
	position:relative;
	width:91.12%;
}
#_idContainer008 {
	display:inline-block;
	padding:32% 0% 0% 0%;
	position:relative;
	width:78.61%;
}
#_idContainer012 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	padding:11.74% 0% 0% 0%;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:3.71%;
}
#_idContainer013 {
	height:36.71%;
	left:0%;
	position:absolute;
	top:0%;
	width:77.40%;
	z-index:1;
}
#_idContainer014 {
	height:41.56%;
	left:0%;
	position:absolute;
	top:58.44%;
	width:100.00%;
	z-index:0;
}
#_idContainer015 {
	display:inline-block;
	padding:12.30% 0% 0% 0%;
	position:relative;
	width:4.16%;
}
#_idContainer017 {
	height:97.85%;
	left:0%;
	position:absolute;
	top:2.07%;
	width:8.13%;
	z-index:1;
}
#_idContainer018 {
	height:97.66%;
	left:31.43%;
	position:absolute;
	top:0%;
	width:6.67%;
	z-index:0;
}
#_idContainer019 {
	height:100.00%;
	left:62.28%;
	position:absolute;
	top:0%;
	width:6.35%;
	z-index:2;
}
#_idContainer020 {
	height:95.33%;
	left:92.30%;
	position:absolute;
	top:2.07%;
	width:7.70%;
	z-index:3;
}
#_idContainer021 {
	display:inline-block;
	padding:4.38% 0% 0% 0%;
	position:relative;
	width:51.81%;
}
#_idContainer023 {
	height:96.93%;
	left:92.50%;
	position:absolute;
	top:1.25%;
	width:7.50%;
	z-index:3;
}
#_idContainer024 {
	height:100.00%;
	left:62.45%;
	position:absolute;
	top:0%;
	width:6.08%;
	z-index:2;
}
#_idContainer025 {
	height:98.46%;
	left:31.50%;
	position:absolute;
	top:0%;
	width:6.46%;
	z-index:0;
}
#_idContainer026 {
	height:98.69%;
	left:0%;
	position:absolute;
	top:1.25%;
	width:7.93%;
	z-index:1;
}
#_idContainer027 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	padding:4.20% 0% 0% 0%;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:51.81%;
}
#_idContainer028 {
	height:41.66%;
	left:0%;
	position:absolute;
	top:58.34%;
	width:100.00%;
	z-index:0;
}
#_idContainer029 {
	height:36.76%;
	left:14.52%;
	position:absolute;
	top:0%;
	width:70.95%;
	z-index:1;
}
#_idContainer030 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	padding:12.37% 0% 0% 0%;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:4.18%;
}
#_idContainer031 {
	height:41.93%;
	left:0%;
	position:absolute;
	top:58.07%;
	width:100.00%;
	z-index:0;
}
#_idContainer032 {
	height:35.72%;
	left:20.58%;
	position:absolute;
	top:0%;
	width:58.85%;
	z-index:1;
}
#_idContainer033 {
	display:inline-block;
	padding:13.93% 0% 0% 0%;
	position:relative;
	width:5.86%;
}
#_idVideo000 {
	height:100.00%;
	width:100.00%;
}
#_idContainer035 {
	background-image:url(../image/2.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	padding:40.41% 0% 0% 0%;
	position:relative;
	text-align:left;
	width:71.85%;
}
#_idContainer036 {
	height:41.49%;
	left:0%;
	position:absolute;
	top:58.51%;
	width:100.00%;
	z-index:0;
}
#_idContainer037 {
	height:36.69%;
	left:19.83%;
	position:absolute;
	top:0%;
	width:60.33%;
	z-index:1;
}
#_idContainer038 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	padding:13.93% 0% 0% 0%;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:5.62%;
}
#_idContainer041, #_idContainer143 {
	height:41.64%;
	left:0%;
	position:absolute;
	top:58.36%;
	width:100.00%;
	z-index:0;
}
#_idContainer042 {
	height:36.85%;
	left:9.35%;
	position:absolute;
	top:0%;
	width:81.29%;
	z-index:1;
}
#_idContainer043 {
	display:inline-block;
	padding:13.95% 0% 0% 0%;
	position:relative;
	width:4.39%;
}
#_idContainer044 {
	height:9.28%;
	left:0%;
	position:absolute;
	top:38.54%;
	width:6.88%;
	z-index:11;
}
#_idContainer045 {
	height:54.67%;
	left:4.88%;
	position:absolute;
	top:21.42%;
	width:95.12%;
	z-index:1;
}
#_idContainer046 {
	height:20.73%;
	left:4.51%;
	position:absolute;
	top:79.27%;
	width:8.11%;
	z-index:10;
}
#_idContainer047 {
	height:13.13%;
	left:6.88%;
	position:absolute;
	top:37.37%;
	width:14.95%;
	z-index:7;
}
#_idContainer048 {
	height:10.26%;
	left:8.41%;
	position:absolute;
	top:38.68%;
	width:11.70%;
	z-index:6;
}
#_idContainer049 {
	height:98.44%;
	left:13.82%;
	position:absolute;
	top:0%;
	width:76.24%;
	z-index:2;
}
#_idContainer050 {
	height:79.61%;
	left:29.72%;
	position:absolute;
	top:8.26%;
	width:46.70%;
	z-index:5;
}
#_idContainer051 {
	height:13.67%;
	left:46.73%;
	position:absolute;
	top:43.19%;
	width:11.99%;
	z-index:0;
}
#_idContainer052 {
	height:10.83%;
	left:54.47%;
	position:absolute;
	top:79.89%;
	width:13.87%;
	z-index:9;
}
#_idContainer053 {
	height:7.74%;
	left:55.89%;
	position:absolute;
	top:81.11%;
	width:9.76%;
	z-index:8;
}
#_idContainer054 {
	height:12.61%;
	left:82.70%;
	position:absolute;
	top:19.64%;
	width:11.25%;
	z-index:4;
}
#_idContainer055 {
	height:8.93%;
	left:84.26%;
	position:absolute;
	top:21.62%;
	width:8.26%;
	z-index:3;
}
#_idContainer056 {
	display:inline-block;
	padding:11.82% 0% 0% 0%;
	position:relative;
	width:10.13%;
}
#_idContainer058 {
	height:16.35%;
	left:0%;
	position:absolute;
	top:22.89%;
	width:2.73%;
	z-index:11;
}
#_idContainer059 {
	height:29.74%;
	left:5.69%;
	position:absolute;
	top:11.62%;
	width:13.12%;
	z-index:10;
}
#_idContainer060 {
	height:55.54%;
	left:15.68%;
	position:absolute;
	top:21.76%;
	width:84.32%;
	z-index:1;
}
#_idContainer061 {
	height:13.34%;
	left:17.46%;
	position:absolute;
	top:37.96%;
	width:13.25%;
	z-index:7;
}
#_idContainer062 {
	height:10.42%;
	left:18.81%;
	position:absolute;
	top:39.29%;
	width:10.37%;
	z-index:6;
}
#_idContainer063 {
	height:100.00%;
	left:23.61%;
	position:absolute;
	top:0%;
	width:67.58%;
	z-index:2;
}
#_idContainer064 {
	height:80.87%;
	left:37.70%;
	position:absolute;
	top:8.39%;
	width:41.39%;
	z-index:5;
}
#_idContainer065 {
	height:13.89%;
	left:52.78%;
	position:absolute;
	top:43.87%;
	width:10.63%;
	z-index:0;
}
#_idContainer066 {
	height:11.00%;
	left:59.64%;
	position:absolute;
	top:81.16%;
	width:12.30%;
	z-index:9;
}
#_idContainer067 {
	height:7.86%;
	left:60.90%;
	position:absolute;
	top:82.40%;
	width:8.65%;
	z-index:8;
}
#_idContainer068 {
	height:12.81%;
	left:84.66%;
	position:absolute;
	top:19.95%;
	width:9.97%;
	z-index:4;
}
#_idContainer069 {
	height:9.07%;
	left:86.05%;
	position:absolute;
	top:21.96%;
	width:7.33%;
	z-index:3;
}
#_idContainer070 {
	display:inline-block;
	padding:7.79% 0% 0% 0%;
	position:relative;
	width:7.64%;
}
#_idContainer071, #_idContainer123 {
	height:55.54%;
	left:0%;
	position:absolute;
	top:21.76%;
	width:100.00%;
	z-index:1;
}
#_idContainer072, #_idContainer124 {
	height:13.34%;
	left:2.11%;
	position:absolute;
	top:37.96%;
	width:15.71%;
	z-index:7;
}
#_idContainer073, #_idContainer125 {
	height:10.42%;
	left:3.72%;
	position:absolute;
	top:39.29%;
	width:12.30%;
	z-index:6;
}
#_idContainer074, #_idContainer126 {
	height:100.00%;
	left:9.40%;
	position:absolute;
	top:0%;
	width:80.14%;
	z-index:2;
}
#_idContainer075, #_idContainer127 {
	height:80.87%;
	left:26.12%;
	position:absolute;
	top:8.39%;
	width:49.09%;
	z-index:5;
}
#_idContainer076, #_idContainer128 {
	height:13.89%;
	left:44%;
	position:absolute;
	top:43.87%;
	width:12.60%;
	z-index:0;
}
#_idContainer077, #_idContainer129 {
	height:11.00%;
	left:52.14%;
	position:absolute;
	top:81.16%;
	width:14.58%;
	z-index:9;
}
#_idContainer078, #_idContainer130 {
	height:7.86%;
	left:53.63%;
	position:absolute;
	top:82.40%;
	width:10.26%;
	z-index:8;
}
#_idContainer079, #_idContainer131 {
	height:12.81%;
	left:81.81%;
	position:absolute;
	top:19.95%;
	width:11.83%;
	z-index:4;
}
#_idContainer080, #_idContainer132 {
	height:9.07%;
	left:83.46%;
	position:absolute;
	top:21.96%;
	width:8.69%;
	z-index:3;
}
#_idContainer081, #_idContainer133 {
	display:inline-block;
	padding:4.57% 0% 0% 0%;
	position:relative;
	width:3.78%;
}
#_idContainer082 {
	height:9.21%;
	left:0%;
	position:absolute;
	top:26.09%;
	width:1.72%;
	z-index:13;
}
#_idContainer083 {
	height:16.74%;
	left:3.58%;
	position:absolute;
	top:19.75%;
	width:8.26%;
	z-index:12;
}
#_idContainer084 {
	height:55.03%;
	left:6.41%;
	position:absolute;
	top:21.92%;
	width:93.37%;
	z-index:1;
}
#_idContainer085 {
	height:13.22%;
	left:8.48%;
	position:absolute;
	top:38.07%;
	width:14.67%;
	z-index:7;
}
#_idContainer086 {
	height:10.33%;
	left:9.99%;
	position:absolute;
	top:39.39%;
	width:11.49%;
	z-index:6;
}
#_idContainer087 {
	height:99.03%;
	left:14.78%;
	position:absolute;
	top:0%;
	width:74.74%;
	z-index:2;
}
#_idContainer088 {
	height:80.15%;
	left:30.90%;
	position:absolute;
	top:8.76%;
	width:45.84%;
	z-index:5;
}
#_idContainer089 {
	height:6.48%;
	left:34.17%;
	position:absolute;
	top:4.09%;
	width:20.07%;
	z-index:10;
}
#_idContainer090 {
	height:5.39%;
	left:46.02%;
	position:absolute;
	top:1.71%;
	width:8.77%;
	z-index:11;
}
#_idContainer091 {
	height:13.76%;
	left:47.60%;
	position:absolute;
	top:43.93%;
	width:11.77%;
	z-index:0;
}
#_idContainer092 {
	height:10.90%;
	left:55.21%;
	position:absolute;
	top:80.88%;
	width:13.62%;
	z-index:9;
}
#_idContainer093 {
	height:7.78%;
	left:56.60%;
	position:absolute;
	top:82.12%;
	width:9.58%;
	z-index:8;
}
#_idContainer094 {
	height:12.69%;
	left:82.91%;
	position:absolute;
	top:20.22%;
	width:11.04%;
	z-index:4;
}
#_idContainer095 {
	height:8.99%;
	left:84.45%;
	position:absolute;
	top:22.21%;
	width:8.11%;
	z-index:3;
}
#_idContainer096 {
	display:inline-block;
	padding:20.73% 0% 0% 0%;
	position:relative;
	width:18.21%;
}
#_idContainer097 {
	height:55.54%;
	left:0%;
	position:absolute;
	top:21.76%;
	width:86.73%;
	z-index:1;
}
#_idContainer098 {
	height:13.34%;
	left:1.83%;
	position:absolute;
	top:37.96%;
	width:13.63%;
	z-index:7;
}
#_idContainer099 {
	height:10.42%;
	left:3.22%;
	position:absolute;
	top:39.29%;
	width:10.67%;
	z-index:6;
}
#_idContainer100 {
	height:100.00%;
	left:8.15%;
	position:absolute;
	top:0%;
	width:69.51%;
	z-index:2;
}
#_idContainer101 {
	height:80.87%;
	left:22.65%;
	position:absolute;
	top:8.39%;
	width:42.58%;
	z-index:5;
}
#_idContainer102 {
	height:13.89%;
	left:38.16%;
	position:absolute;
	top:43.87%;
	width:10.93%;
	z-index:0;
}
#_idContainer103 {
	height:11.00%;
	left:45.22%;
	position:absolute;
	top:81.16%;
	width:12.65%;
	z-index:9;
}
#_idContainer104 {
	height:7.86%;
	left:46.52%;
	position:absolute;
	top:82.40%;
	width:8.90%;
	z-index:8;
}
#_idContainer105 {
	height:12.81%;
	left:70.96%;
	position:absolute;
	top:19.95%;
	width:10.26%;
	z-index:4;
}
#_idContainer106 {
	height:9.07%;
	left:72.39%;
	position:absolute;
	top:21.96%;
	width:7.54%;
	z-index:3;
}
#_idContainer107 {
	height:30.93%;
	left:82.66%;
	position:absolute;
	top:48.39%;
	width:13.51%;
	z-index:10;
}
#_idContainer108 {
	height:13.04%;
	left:89.05%;
	position:absolute;
	top:47.10%;
	width:10.95%;
	z-index:11;
}
#_idContainer109 {
	display:inline-block;
	padding:7.79% 0% 0% 0%;
	position:relative;
	width:7.43%;
}
#_idContainer110 {
	height:9.25%;
	left:0%;
	position:absolute;
	top:24.49%;
	width:1.70%;
	z-index:11;
}
#_idContainer111 {
	height:16.82%;
	left:3.54%;
	position:absolute;
	top:18.12%;
	width:8.16%;
	z-index:10;
}
#_idContainer112 {
	height:55.35%;
	left:7.53%;
	position:absolute;
	top:22.03%;
	width:92.47%;
	z-index:1;
}
#_idContainer113 {
	height:13.30%;
	left:9.48%;
	position:absolute;
	top:38.17%;
	width:14.53%;
	z-index:6;
}
#_idContainer114 {
	height:10.39%;
	left:10.97%;
	position:absolute;
	top:39.50%;
	width:11.37%;
	z-index:5;
}
#_idContainer115 {
	height:99.66%;
	left:16.22%;
	position:absolute;
	top:0.34%;
	width:74.11%;
	z-index:2;
}
#_idContainer116 {
	height:80.60%;
	left:31.68%;
	position:absolute;
	top:8.70%;
	width:45.39%;
	z-index:4;
}
#_idContainer117 {
	height:6.51%;
	left:33.79%;
	position:absolute;
	top:2.40%;
	width:19.85%;
	z-index:8;
}
#_idContainer118 {
	height:5.42%;
	left:45.51%;
	position:absolute;
	top:0%;
	width:8.67%;
	z-index:9;
}
#_idContainer119 {
	height:13.84%;
	left:48.22%;
	position:absolute;
	top:44.06%;
	width:11.65%;
	z-index:0;
}
#_idContainer120 {
	height:7.82%;
	left:50.27%;
	position:absolute;
	top:77.38%;
	width:9.49%;
	z-index:7;
}
#_idContainer121 {
	height:9.04%;
	left:86.08%;
	position:absolute;
	top:15.45%;
	width:8.03%;
	z-index:3;
}
#_idContainer122 {
	display:inline-block;
	padding:13.77% 0% 0% 0%;
	position:relative;
	width:12.28%;
}
#_idContainer134, #_idContainer165, #_idContainer174 {
	height:41.70%;
	left:0%;
	position:absolute;
	top:58.30%;
	width:100.00%;
	z-index:0;
}
#_idContainer135 {
	height:36.25%;
	left:13.95%;
	position:absolute;
	top:0%;
	width:72.11%;
	z-index:1;
}
#_idContainer136 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	padding:13.90% 0% 0% 0%;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:4.72%;
}
#_idContainer137 {
	height:41.53%;
	left:0%;
	position:absolute;
	top:58.47%;
	width:100.00%;
	z-index:0;
}
#_idContainer138 {
	height:36.56%;
	left:18.61%;
	position:absolute;
	top:0%;
	width:62.78%;
	z-index:1;
}
#_idContainer139 {
	display:inline-block;
	padding:14.05% 0% 0% 0%;
	position:relative;
	width:5.56%;
}
#_idContainer141 {
	display:inline-block;
	width:71.16%;
}
#_idContainer144 {
	height:36.85%;
	left:19.42%;
	position:absolute;
	top:0%;
	width:61.16%;
	z-index:1;
}
#_idContainer145 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	padding:14.05% 0% 0% 0%;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:5.87%;
}
#_idContainer147 {
	height:34.19%;
	left:0%;
	position:absolute;
	top:1.56%;
	width:41.66%;
	z-index:1;
}
#_idContainer148 {
	height:41.60%;
	left:9.70%;
	position:absolute;
	top:58.40%;
	width:80.60%;
	z-index:0;
}
#_idContainer149 {
	height:36.35%;
	left:39.34%;
	position:absolute;
	top:0%;
	width:60.66%;
	z-index:2;
}
#_idContainer150 {
	display:inline-block;
	padding:14% 0% 0% 0%;
	position:relative;
	width:6.89%;
}
#_idContainer154 {
	display:inline-block;
	width:70.45%;
}
#_idContainer155 {
	height:41.69%;
	left:0%;
	position:absolute;
	top:58.31%;
	width:100.00%;
	z-index:0;
}
#_idContainer156 {
	height:36.64%;
	left:27.02%;
	position:absolute;
	top:0%;
	width:45.96%;
	z-index:1;
}
#_idContainer157 {
	display:inline-block;
	padding:14.05% 0% 0% 0%;
	position:relative;
	width:5.88%;
}
#_idContainer158 {
	height:36.64%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:1;
}
#_idContainer159 {
	height:41.69%;
	left:3.41%;
	position:absolute;
	top:58.31%;
	width:93.19%;
	z-index:0;
}
#_idContainer160 {
	display:inline-block;
	padding:14% 0% 0% 0%;
	position:relative;
	width:4.76%;
}
#_idContainer162, #_idContainer164 {
	display:inline-block;
	width:24.60%;
}
#_idContainer166 {
	height:36.25%;
	left:9.43%;
	position:absolute;
	top:0%;
	width:81.14%;
	z-index:1;
}
#_idContainer167 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	padding:14.04% 0% 0% 0%;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:4.76%;
}
#_idContainer169 {
	background-image:url(../image/4.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	overflow:hidden;
	padding:49.89% 0% 0% 0%;
	position:relative;
	width:100.92%;
}
#_idContainer170 {
	display:inline-block;
	padding:45.90% 0% 0% 0%;
	position:relative;
	width:99.87%;
}
#_idContainer175 {
	height:36.25%;
	left:1.38%;
	position:absolute;
	top:0%;
	width:97.25%;
	z-index:1;
}
#_idContainer176 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	padding:13.88% 0% 0% 0%;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:4.71%;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
object._idGenObjectAttribute-2 {
	height:100.00%;
	width:100.00%;
}
div._idGenObjectAttribute-3 {
	height:100.00%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:0%;
	width:100.00%;
}
img._idGenObjectAttribute-4 {
	-ms-transform:translate(-7.409%,-0.001%) rotate(0.000deg) skew(0.000deg) scale(1.148,1.148);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-7.409%,-0.001%) rotate(0.000deg) skew(0.000deg) scale(1.148,1.148);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	min-width:100%;
	transform:translate(-7.409%,-0.001%) rotate(0.000deg) skew(0.000deg) scale(1.148,1.148);
	transform:translate(-7.409%,-0.001%) rotate(0.000deg) skew(0.000deg) scale(1.148,1.148);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
